mainmenu "Xelix configuration"

config ARCH
	string "Target architecture"
	default "i386"
	---help---
	Build target architecture. Can be either "i386" or "arm".

menu "Interrupts"
	config INTERRUPTS_DEBUG
		bool "Interrupts debugging"

	config PIT_RATE
		int "PIT tick rate / scheduling frequency (In Hz)"
		default 1000
		---help---
		How often the interrupt timer should fire per second. This is also
		the task switching frequency, and the maximum time resolution.
endmenu

menu "Kernel logger"
	config LOG_STORE
		bool "Store kernel logs"
		default y
		---help---
		Store kernel log in memory and make them available as /sys/log, where
		it can be read by utilities like dmesg. Doesn't log debug messages.

	config LOG_PRINT_LEVEL
		int "TTY log level"
		default 4
		---help---
		0 Disabled
		1 Debug
		2 Info
		3 Warn
		4 Error

	config LOG_SERIAL_LEVEL
		int "Serial log level"
		default 1
		---help---
		0 Disabled
		1 Debug
		2 Info
		3 Warn
		4 Error
endmenu

menu "Memory"
	config KMALLOC_DEBUG
		bool "kmalloc: Enable debugging"
		---help---
		Print out information for each allocation/free to serial. Makes
		everything pretty slow. Since vmem allocates lots of small blocks,
		vmem allocations are not printed by default to make load time
		bearable.

	config KMALLOC_CHECK
		bool "kmalloc: Check all headers"
		---help---
		This will check the memory allocation headers and footers during all
		kmalloc/kfree operations. Useful to track down buffer overflows, but
		slows things down.
endmenu

menu "Tasks"
	config ELF_DEBUG
		bool "ELF loader debugging"

	config SYSCALL_DEBUG
		bool "Syscall debugging"

	config INIT_PATH
		string "Init process path"
		default "/usr/bin/init"
endmenu

menu "Audio"
	config ENABLE_AC97
	bool "AC97 sound chip driver"
	default n
endmenu

menu "Networking"
	config ENABLE_PICOTCP
	bool "Enable PicoTCP integration"
	default y

	config ENABLE_NE2K
	bool "NE2000 NIC driver"
	default y
	depends on ENABLE_PICOTCP

	config ENABLE_RTL8139
	bool "RTL8139 NIC driver"
	default n
	depends on ENABLE_PICOTCP

	config RTL8139_MAX_CARDS
	int "Maximum number of cards supported by RTL8139 driver"
	default 4
	depends on ENABLE_RTL8139
endmenu


menu "File systems"
	config VFS_MAX_MOUNTPOINTS
	int "Maximum active mount points"
	default 50

	config VFS_MAX_OPENFILES
	int "Maximum open files"
	default 500

	config VFS_DEBUG
		bool "File system debugging"

	config ENABLE_EXT2
	bool "Enable ext2 support"
	default y

	config EXT2_DEBUG
	bool "ext2 file system debugging"
	depends on ENABLE_EXT2
endmenu


menu "TTY"
	config CONSOLE_SCROLL_PAGES
		int "Scroll pages (ring buffer size)"
		default 8

	config CONSOLE_NO_ECMA48
		bool "Disable ECMA48 filter"

	config CONSOLE_DEFAULT_FG
		hex "Default text color"
		default 0x7

	config CONSOLE_DEFAULT_BG
		hex "Default background color"
		default 0x0

	choice
		prompt "Serial interface use"
		default XELIX_WITH_SLIP

		config CONSOLE_USE_SERIAL
			bool "Output console to serial [disables screen output]"

		config XELIX_WITH_SLIP
			bool "Serial Line IP (SLIP)"
	endchoice
endmenu
