mainmenu "Xelix configuration"

config INIT_PATH
	string "Init process path"
	default "/bin/xinit"

config PIT_RATE
	int "PIT tick rate / scheduling frequency (In Hz)"
	default 500
	---help---
	How often the interrupt timer should fire per second. This is also
	the task switching frequency, and the maximum time resolution.

menu "Debugging"
	config KMALLOC_DEBUG
		bool "kmalloc debugging"
		---help---
		Print out information for each allocation/free to serial. Makes
		everything pretty slow. Since vmem allocates lots of small blocks,
		vmem allocations are not printed by default to make load time
		bearable.

	config ELF_DEBUG
		bool "ELF loader debugging"

	config SYSCALL_DEBUG
		bool "Syscall debugging"

	config INTERRUPTS_DEBUG
		bool "Interrupts debugging"

	config VFS_DEBUG
		bool "File system debugging"

	config LOG_STORE
		bool "Store kernel logs"
		default y
		---help---
		Store kernel log in memory and make them available as /sys/log, where
		it can be read by utilities like dmesg. Doesn't log debug messages.

	config LOG_PRINT_LEVEL
		int "TTY log level"
		default 2
		---help---
		0 Disabled
		1 Debug
		2 Info
		3 Warn
		4 Error

	config LOG_SERIAL_LEVEL
		int "Serial log level"
		default 1
		---help---
		0 Disabled
		1 Debug
		2 Info
		3 Warn
		4 Error
endmenu

menu "Audio"
	config ENABLE_AC97
	bool "AC97 sound chip driver"
	default n
endmenu

menu "Networking"
	config NET_MAX_DEVICES
	int "Maximum number of networking devices"
	default 10

	config NET_MAX_HOSTNAME_LEN
	int "Maximum hostname length"
	default 64

	config ENABLE_NE2K
	bool "NE2000 NIC driver"
	default y

	config ENABLE_RTL8139
	bool "RTL8139 NIC driver"
	default n

	config RTL8139_MAX_CARDS
	int "Maximum number of cards supported by RTL8139 driver"
	default 4
endmenu


menu "File systems"
	config VFS_MAX_MOUNTPOINTS
	int "Maximum active mount points"
	default 50

	config VFS_MAX_OPENFILES
	int "Maximum open files"
	default 500

	config ENABLE_EXT2
	bool "Enable ext2 support"
	default y

	config EXT2_DEBUG
	bool "ext2 file system debugging"
	depends on ENABLE_EXT2
endmenu


choice
	prompt "Serial interface use"
	default XELIX_WITH_SLIP

	config CONSOLE_USE_SERIAL
		bool "Output console to serial [disables screen output]"

	config XELIX_WITH_SLIP
		bool "Serial Line IP (SLIP)"
endchoice

menu "Console / TTY"
	config CONSOLE_SCROLL_PAGES
		int "Scroll pages (ring buffer size)"
		default 8

	config CONSOLE_NO_ECMA48
		bool "Disable ECMA48 filter"

	config CONSOLE_DEFAULT_FG
		hex "Default text color"
		default 0x7

	config CONSOLE_DEFAULT_BG
		hex "Default background color"
		default 0x0
endmenu
